.container2{
    margin-top: 20px;
    display: grid;
    grid-template-columns:42% 52%;
    justify-content: center;
    gap: 30px;
}

.card-min{
    position: relative;
}

.container-base{
    position: relative;
}

.card-2 .titulo-room{
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}

.card-2 .icons{
    margin-top: 15px;
}

.start{
    display: flex;
    justify-content: initial;
    gap:5px;
    align-items: center;
    margin: 0px 10px 10px 10px;
}

.btns{
    margin: 10px;
}

.card-min p{
    font-size: 14px;
    color: rgb(143, 141, 141);
    margin: 30px 15px 15px 15px;
    align-items: center;
}
.card-min .green{
    display: block;
    font-size: 14px;
    color: #2ECC71;
    margin: 15px;
    text-align: center;
}

/**/
/*RESPONSIVE*/
@media (min-width:220px) and (max-width:820px) {

    .container2{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        grid-template-columns:100% ;
    }

}